<?php
/**
 * Created by PhpStorm.
 * User: karavaev
 * Date: 27.02.17
 * Time: 9:23 PM
 */

namespace bsuir\app;

class Config
{
private static $VKtoken = '';
private static $TGtoken = '';
private static $TGDebugToken = '';
private static $VKDebugToken = '';

/**
 * @return string token
 * @throws \Exception if Telegram Debug token not filled
 */
public static function getTGDebugToken()
{
if (self::$TGDebugToken)
return self::$TGDebugToken;
else
throw new \Exception('No Telegram Debug token found');
}

/**
 * @return string token
 * @throws \Exception if Telegram token not filled
 */
public static function getTGtoken()
{
if (self::$TGtoken)
return self::$TGtoken;
else
throw new \Exception('No Telegram token found');
}


/**
 * @return string token
 * @throws \Exception if VK token not filled
 */
public static function getVKtoken()
{
if (self::$VKtoken)
return self::$VKtoken;
else
throw new \Exception('No VK Token found');
}

/**
 * @return string token
 * @throws \Exception if VK Debug token not filled
 */
public static function getVKDebugToken()
{
if (self::$VKDebugToken)
return self::$VKDebugToken;
else
throw new \Exception('No VK Debug token found');
}
}